.container(@width; @padding: 20px; @margin: 0 auto) {
  width: @width;
  padding-right: @padding;
  padding-left: @padding;
  margin: @margin @margin;
}

.list-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.font(@font-size: 14px; @line-height: 30px; @font-family: @open-sans) {
  font-size: @font-size;
  line-height: @line-height;
  font-family: @font-family;
}
